@tailwind base;
@tailwind components;
@tailwind utilities;

.register-container {
  background: rgba(
    255,
    255,
    255,
    0.5
  ); /* Set the background color with opacity */
  backdrop-filter: blur(10px); /* Apply backdrop blur */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 20px; /* Add padding for spacing */
}
